<div style="background-color: #171C33">
  <div class="container-fluid text-white">
    <h1 >Ausleihe von Frau K.</h1>
  </div>
  <form #form="ngForm">
    <div  class="form-group col-lg-4 mx-auto">
      <label class="text-white" for="student-name">Name des Schülers: </label>
      <input id="student-name" type="text" [(ngModel)]="schueler" ngbPopover="{{schuelerHinweis}}" triggers="mouseenter:mouseleave"
        popoverTitle="Hinweis" class="form-control" name="name" required>
    </div>
    @for (kat of kats; track kat; let j = $index) {
      <div class="table-responsive container-fluid bg-white">
        @if (books[kat.id]) {
          <div>
            @if (!kat.Lesestufe) {
              <h3 class="pt-3 pb-3">{{kat.name}} {{kat.Zusatzinfo}}</h3>
            }
            @if (kat.Lesestufe) {
              <h3 class="pt-3 pb-3">{{kat.name}} {{kat.Zusatzinfo}} ({{kat.Lesestufe}}. Lesestufe)</h3>
            }
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center" appSortable="Name" (sort)="onSort($event)">Titel</th>
                  <th scope="col" class="text-center" appSortable="Verliehen" (sort)="onSort($event)">Verfügbarkeit</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                @for (book of books[kat.id]; track book; let i = $index) {
                  <tr>
                    <td class="col-8">{{book.Name}}</td>
                    @if (!book.Verliehen) {
                      <td class="col-2 text-center"><span class="badge badge-success">{{book.Anzahl}}</span></td>
                    }
                    @if (book.Verliehen) {
                      <td class="col-2 text-center"><span class="badge badge-danger">{{book.Anzahl}}</span></td>
                    }
                    @if (!book.Verliehen) {
                      <td class="col-2 text-center"><button class="btn btn-primary" (click)="ausleihen(book.id)" [disabled]="!form.valid">Ausleihen</button></td>
                    }
                  @if (!book.Vorgemerkt && book.Verliehen) {
                    <td class="col-2 text-center"><button class="btn btn-primary" (click)="vormerken(book)" [disabled]="!form.valid">Vormerken</button></td>
                    }
                    @if (book.Vorgemerkt && book.Verliehen) {
                      <td class="col-2"></td>
                    }
                  </tr>
                }
              </tbody>
            </table>
            @if (kat.name === 'Schülerbücher') {
              <div class="pb-5"></div>
            }
          </div>
        }
      </div>
    }
  </form>
</div>
