  <div class="panel-heading">You are logged in as {{me.username}}</div>
  <div class="float-right">
    <button class="btn btn-info" type="button" (click)="logout()">Logout</button>
  </div>
<div>
  <form #form="ngForm">
    <div class="row">
      <div class="form-group col-lg-4">
        <label>Name</label>
        <input type="text" [(ngModel)]="book.name" class="form-control" name="name" required>
      </div>
      <div class="form-group col-lg-4">
        <label>Autor</label>
        <input type="text" [(ngModel)]="book.autor" class="form-control" name="autor">
      </div>
      <div class="form-group col-lg-4">
        <label>Anzahl</label>
        <input type="number" [(ngModel)]="book.anzahl" class="form-control" name="anzahl">
      </div>
    </div>
    <div class="row mx-auto">
      <button class="btn btn-primary" type="button" (click)="add()" [disabled]="!form.valid">Hinzufügen</button>
      <button class="btn btn-primary" type="button" (click)="update()" >Update</button>
    </div>
  </form>

  <table class="table table-hover" *ngIf="books">
    <thead class="thead-light">
    <tr>
      <th scope="col">Nummer</th>
      <th scope="col"></th>
      <th scope="col">Titel</th>
      <th scope="col">Verfügbarkeit</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let book of books; let i = index" (click)="setBook(book)">
      <td scope="row">{{book.Nummer}}</td>
      <td>
        <img class="img-fluid rounded mx-auto d-block" src="" >
      </td>
      <td>{{book.Name}}</td>
      <td><span class="badge badge-success">{{book.Anzahl}}</span></td>
      <td *ngIf="!book.Verliehen"><button class="btn btn-danger" (click)="delete(i)">Löschen</button></td>
    </tr>
    </tbody>
  </table>

</div>
